runs/
consolidated_tests/
mut_workspace/run_*/
coverage_summary_run_id_*.txt
run_*.json
.coverage
__pycache__/ 
old_runs/
all_runs/
.DS_Store
.vscode/
.idea/
*.pyc
.env
venv/
old*/
coverage*/
plot*/  
statistics/
tables/
mutmut_plots/
results*/